@charset "UTF_8";

@media screen and (min-width: 768px) and (max-width:992px){
    body{
        height: 100%;
        width: 100%;
        background-image:linear-gradient(to top, #49a09d, #5f2c82);
    }
    section{
        width: 80vw;
    }
    section > div#imagem{
        float: left;
        width: 30vw;
        height: 100%;
    }

    form > input[type=submit]{
        width: calc(100% - 30vw);
    }
    form > a{
        width: 100%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image:linear-gradient(to top, #49a09d, #5f2c82);
    }
    section{
        width: 80vw;
    }
    section > div#imagem{
        float: right;
        width: 30vw;
        height: 100%;
    }

    div#formulario h1 {
        font-size: 2em;
    }
    div#formulario p{
        font-size: 1,2em;
    }
    form > input[type=submit]{
        width: calc(100% - 30vw);
    }
    form > a{
        width: calc(100% - 30vw);
    }
}