@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right,#2EB9FF,#129CE0);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #045A85;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #e08312;
    text-align: center;
    text-shadow: 1px 1px 2px #bd6f10;
}

h2{
    color: #945100;
}

p{
    text-align: justify;
}